<!--All code written by Vaishnavi Manivannan-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unbias - how to play</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <ul class="nav-left">
                    <li><a href="#"><img id="imglogo" src="/static/images/BB.png" alt=""></a></li>
                    <li><a href="/">Home</a></li>
                    <li class="nav-active"><a href="/howto">How to play</a></li>
                </ul>
                <div class="nav-right">
                    <a href="/scenario" id="play-button">

                        <img src="/static/images/play.svg" alt="Play Button" id="PlayButton">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1 id="mainH1">Un<span id="secondH1">Bias</span></h1>
        <section id="howTo" class="two-column-layout">
            <div class="left-column">
                <div class="large-play-container">
                    <a href="/scenario">
                        <img src="/static/images/play.svg" id="LargePlayButtonHowTo" alt="Play Button">
                    </a>
                </div>
            </div>
            <div class="right-column">
                <h2 id="h2HeaderHowTo">How to Play</h2>
                <h3 id="h3Header">Step 1: Read the scenario</h3>
                <p id="howtotext">Read the real-world scenario. Pay attention to your intial reaction.</p>

                <h3 id="h3Header">Step 2: Make a Choice</h3>
                <p id="howtotext">Select the choice that feels most natural as soon as possible.</p>

                <h3 id="h3Header">Step 3: Uncover bias</h3>
                <p id="howtotext">Receive real-time feedback from a chatbot to uncover implicit bias</p>

                <h3 id="h3Header">Step 4: Replay and Reflect</h3>
                <p id="howtotext">Prompted to make another choice until you overcome your bias.</p>
            </div>
        </section>
    </main>
    <footer>
        <p id="footercp">© 2025 Vaishnavi Manivannan</p>
    </footer>
</body>
</html>
