<!--All code written by Vaishnavi Manivannan-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unbias - home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <ul class="nav-left">
                    <li><a href="#"><img id="imglogo" src="/static/images/BB.png" alt=""></a></li>
                    <li class="nav-active"><a href="/">Home</a></li>
                    <li><a href="/howto">How to play</a></li>
                </ul>
                <div class="nav-right">
                    <a href="/scenario" id="play-button">

                        <img src="/static/images/play.svg" alt="Play Button" id="PlayButton">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1 id="mainH1">Un<span id="secondH1">Bias</span></h1>

        <section id="howTo" class="two-column-layout">
            <div class="left-column">
                <div class="large-play-container">
                    <a href="/scenario">
                        <img id="pc" src="/static/images/mbcp.png" alt="Screenshot of Gameplay">
                    </a>
                </div>
            </div>
            <div class="right-column">
                <section id="about">
                    <h2 id="h2Header">decode bias, reprogram change</h2>
                    <p style="font-size: 20px;">
                        <span style="font-weight: bold; font-style: italic; color: black;">unbias</span> is an immersive game that exposes hidden gender biases through scenario-driven storytelling much like a "Black Mirror" episode. Every choice shapes the outcome, challenging perceptions and driving real change. By confronting bias in real-time, players gain deeper awareness and the tools to foster inclusivity.
                    </p>
                </section>
            </div>
        </section>
    </main>
    <footer>
        <p id="footercp">© 2025 Vaishnavi Manivannan</p>
    </footer>
    
</body>
</html>
